.navbar-toolbar {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.navbar-actions {
  display: flex;
  gap: 8px;
}

.active-nav {
  border-bottom: 2px solid white;
  border-radius: 0;
}
